<head>
  <title>Team Main Page</title>
  <link rel="stylesheet" href="/index.css" />
  <script src="/iframecheck.js"></script>
  <style>
    .error-container {
      text-align: center;
      margin-top: 50px;
      font-size: 24px;
    }
  </style>
</head>

<body>
  <%- include('header')-%>
  <div class="error-container">
    Error 404
    <br />
    <%=error%>
    <br />
    <button id="back-button" style="margin-top: 10px;">⬇ Go Back</button>
    <script>
      document.getElementById('back-button').addEventListener('click', () => {
        window.parent.postMessage({ type: 'reverse-animation' }, '*');
      });
    </script>
  </div>
</body>
