
<!-- console.log(await fetchTeamData.fetchAllEventCodesCurrentYear(10252)); -->
 <h1>Welcome to the Main Page for Team <%=team%></h1>
<h2>event codes</h2>

<ul>
  <% eventCodes.forEach(eventCode => { %>
    <li><%=eventCode%></li>
  <% }); %>
</ul>

